doctype html
head
  //- Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='css/app-style.css')
  title Home - Trivia Quiz
.container.background-home
  #home.flex-center.flex-column
    h1 TRIVIA QUIZ
    a.btn(href='./game') Play
    a.btn(href='./hi-scores') Top Scores